@using ETMS2026CORE10WA.Model
@using ETMS2026CORE10WA.Components.Core
@using System.Net.Http.Json
@using System.Text.Json
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components
@using System.Net.Http
@using Microsoft.Extensions.DependencyInjection


<style>
    .tbl-div {
        margin-bottom: -16px;
    }


    .is_show {
        display: inline-block;
    }

    .is_hide {
        display: none;
    }
</style>

@code
{
    int ex = 1;
}

<tr>
    <td>
        <div class="card shadow mb-2">
            <div class="card-header cursor-pointer" @onclick="() => isShow = !isShow">

                <div class="row d-flex align-items-center py-1">
                    <div class="col-md-10">
                        <span class="badge rounded-pill bg-primary"> @index</span>
                        &nbsp;  <a5 style="font-weight:bold">@courseInfo.Code</a5> &nbsp;
                        : &nbsp;  <a5 style="font-weight:bold">@courseInfo.Name</a5> &nbsp;
                    </div>
                    <div class="col-md-2">

                        <i class="@(isShow ? "is_show" : "is_hide") fa-solid fa-circle-arrow-up float-end fs-5"></i>
                        <i class="@(isShow ? "is_hide" : "is_show") fa-solid fa-circle-arrow-down float-end fs-5"></i>

                        <span class="badge bg-dark float-end me-2">@courseInfo.PercentCourcesCompleted</span>&nbsp;
                        <strong class="float-end me-2">@courseInfo.TotalCoursesCompleted / @courseInfo.TotalCoursesAssined</strong>&nbsp;

                    </div>
                </div>

            </div>
            <div class="tbl-div @(isShow ? "is_show" : "is_hide")">
                <table class="table table-sm  table-bordered table-hover ">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Employee</th>
                            <th scope="col" class="text-center">Hire Date</th>
                            <th class="text-center" scope="col">Completed?</th>
                            <th scope="col" class="text-center"> Make as ...</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (courseInfo.EmployeeCourseList != null && courseInfo.EmployeeCourseList.Count > 0)
                        {
                            ex = 1;
                            @foreach (var employeecourseInfos in courseInfo.EmployeeCourseList)
                            {
                                string rowClass = $"{(employeecourseInfos.isComplete ? "table-success" : "")}";
                                <tr class="@rowClass">
                                    <th scope="row" class="text-center">
                                        <span class="badge rounded-pill bg-dark">@ex</span>
                                    </th>
                                    <td class="pt-2">
                                        @courseInfo.EmployeeList.FirstOrDefault(m => m.EmployeeID == employeecourseInfos.EmployeeID).Name
                                    </td>
                                    <td class="text-center pt-2">
                                        @courseInfo.EmployeeList.FirstOrDefault(m => m.EmployeeID == employeecourseInfos.EmployeeID).HireDate.Date.ToString("dd MMM yyyy")
                                    </td>
                                    <td class="text-center pt-2">
                                        @if (employeecourseInfos.isComplete)
                                        {
                                            <i class="fa-solid fa-square-check fs-4 text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-rectangle-xmark fs-4 text-danger"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (employeecourseInfos.isComplete)
                                        {
                                            <button type="button" class="btn btn-danger btn-sm" @onclick="() => ChangeCompleteStatus(employeecourseInfos.EmployeeCourseID)">Uncomplete</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success btn-sm" @onclick="() => ChangeCompleteStatus(employeecourseInfos.EmployeeCourseID)">Complete</button>
                                        }
                                    </td>
                                </tr>
                                ex++;
                            }
                        }
                        else
                        {
                            <tr class="table-warning">
                                <td colspan="5" scope="row">&nbsp;&nbsp;<span class="oi oi-warning"></span>&nbsp;courseInfo not assigned to employee.</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        </div>
    </td>
</tr>



@code {

    [Parameter]
    public CourseInfo? courseInfo { get; set; }
    
    [Parameter]
    public int index { get; set; }


    private bool isShow = true;


    [Parameter]
    public EventCallback<int> OnStatusChanged { get; set; }

    private async Task ChangeCompleteStatus(int employeeCourseID)
    {
        if (OnStatusChanged.HasDelegate)
        {
            await OnStatusChanged.InvokeAsync(employeeCourseID);
        }
    }

   


    protected override async Task OnInitializedAsync()
    {

    }

}
